ClientSoapEx/xml-resources/web-service-references/SoapService/wsdl/localhost_8080/SoapService/SoapService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mypack/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mypack/" name="SoapService">
<types>
<xsd:schema>
<xsd:import namespace="http://mypack/" schemaLocation="http://localhost:8080/SoapService/SoapService?xsd=1"/>
</xsd:schema>
</types>
<message name="addition">
<part name="parameters" element="tns:addition"/>
</message>
<message name="additionResponse">
<part name="parameters" element="tns:additionResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply"/>
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse"/>
</message>
<portType name="SoapService">
<operation name="addition">
<input wsam:Action="http://mypack/SoapService/additionRequest" message="tns:addition"/>
<output wsam:Action="http://mypack/SoapService/additionResponse" message="tns:additionResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://mypack/SoapService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://mypack/SoapService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="multiply">
<input wsam:Action="http://mypack/SoapService/multiplyRequest" message="tns:multiply"/>
<output wsam:Action="http://mypack/SoapService/multiplyResponse" message="tns:multiplyResponse"/>
</operation>
</portType>
<binding name="SoapServicePortBinding" type="tns:SoapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SoapService">
<port name="SoapServicePort" binding="tns:SoapServicePortBinding">
<soap:address location="http://localhost:8080/SoapService/SoapService"/>
</port>
</service>
</definitions>